* {
    font-family: 'Montserrat', sans-serif;
}

section {
    position: relative;
}

.container {
    position: relative;
    max-width: 1160px;
    margin: 0 auto;
    z-index: 1;
}

span {
    color: #18CFAB;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.btn:hover {
    filter: contrast(85%);
}

.tab:hover {
    cursor: pointer;
}

.title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    text-align: center;
}

.title:before {
    content: '';
    position: absolute;
    width: 76px;
    height: 1px;
    left: 46%;
    top: 65px;
    background: #18CFAB;
}

.title:after {
    content: '';
    position: absolute;
    width: 76px;
    height: 1px;
    left: 47%;
    top: 70px;
    background: #18CFAB;
}

.btn {
    width: 170px;
    height: 65px;
    background-color: #18CFAB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 26px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 -5px #FFF;
    cursor: pointer;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 194px;
    height: 72px;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    border-right: none;
    font-size: 16px;
    line-height: 39px;
    color: #717171;
}

.tab:last-child {
    border: 1px solid #EDEFEF;
}

.delete {
    display: none;
}

header {
    background: url(../img/bg/bg-ham.jpg) center center/cover no-repeat;
    min-height: 1012px;
    background-attachment: fixed;
}

.menu {
    background-color: rgba(0, 0, 0, 0.4);
}

.menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 120px; */
}

.menu-logo {
    display: flex;
    align-items: center;
}

.menu-logo-hexagon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 35px;
    background: #18CFAB;
    position: relative;
}

.menu-logo-hexagon:before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 20px solid #18CFAB;
}
.menu-logo-hexagon:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 20px solid #18CFAB;
}

.menu-logo-name {
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    margin-left: 6px;
}

.menu-items {
    display: flex;
    min-width: 655px;
    justify-content: space-between;
}

.menu-item,
.menu-item a {
    display: flex;
    align-items: center;
    height: 120px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
}

.menu-item a:hover,
.menu-item:hover {
    color: #18CFAB;
    transition: all 0.3s;
}

.search {
    width: 21px;
    height: 20px;
    margin-right: 1px;
    fill: rgba(255, 255, 255, 0.6);
}

.search:hover {
    fill: #18CFAB;
}

.text {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-title {
    margin-top: 265px;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.text-attention {
    font-weight: 700;
    font-size: 78px;
    line-height: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.text-descr {
    font-size: 34px;
    color: #D4D4D4;
}

.btns {
    margin-top: 130px;
    display: flex;
    justify-content: center;
}

.btn:nth-child(2) {
    background-color: #00CBF6;
}

.pluses {
    display: flex;
    min-height: 360px;
    justify-content: center;
}

.plus {
    width: 480px;
    border-top: 10px solid #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1C2A33;
    color: #18CFAB;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.plus:nth-child(even) {
    background-color: #18CFAB;
    color: #FFF;
}

.plus-text {
    margin-top: 50px;
}

.plus:nth-child(even) .plus-text {
    margin-top: 70px;
}

.servis {
    padding: 85px 0 90px 0;
}

.servis .tab:hover {
    border: 1.5px solid #18CFAB;
    transition: all 0.1s;
}

.tab.active {
    background-color: #18CFAB;
    color: #fff;
    transition: all 0.3s;
}

.servis .tab.active:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 15px solid #18CFAB;
    top: 211px;
}

.servis-tabs-content {
    margin-top: 25px;
    display: none;
}

.servis-tabs-content img {
    width: 192px;
    height: 139px;
}

.servis-tabs-content.active {
    display: flex;
}

.servis-tabs-content-text {
    margin-left: 15px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}

.install {
    text-align: center;
    padding: 126px 0;
    background: url(../img/bg/section-2.jpg) center center/cover no-repeat;
    font-size: 40px;
}

.install:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
}

.install-descr {
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin-top: 12px;
    margin-bottom: 62px;
}

.install .btn {
    margin: 0 auto;
}

.works {
    padding: 95px 0 100px 0;
    background-color: #E9EDEF;
}

.works .tab {
    border-color: #DADADA;
    background-color: #E9EDEF;
    width: auto;
    padding: 15px;
}

.works .tab:hover {
    color: #18CFAB;
    border: 1px solid #18CFAB;
}

.works-active {
    color: #18CFAB;
    transition: all 0.3s;
}


.works-content {
    position: relative;
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 285px);
}


.content {
    width: 285px;
    height: 207px;
    position: relative;
}

.content img {
    width: 285px;
    height: 207px;
}

.content:hover .content-hover {
    z-index: 1;
    transition: all 0.3s;
}

.content-hover {
    position: relative;
    width: 285px;
    height: 207px;
    background-color: #E9EDEF;
    bottom: 210px;
    left: 0;
    border-top: 2px solid #18CFAB;
    z-index: -1;
}


.content-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: inherit;
    bottom: 45px;
    font-weight: 300;
    font-size: 13px;
    color: #8A8A8A;
    left: calc(50% - 70px);
}

.content-text span {
    margin-bottom: 12px;
    font-size: 15px;
}

.circle {
    position: absolute;
    width: 41px;
    height: 40px;
    border: 1px solid #18CFAB;
    border-radius: 30px;
    z-index: inherit;
    top: 50px;
    left: calc(50% - 34px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.circle img {
    width: 17px;
    height: 17px;
}

.circle:last-child {
    background-color: #18CFAB;
    left: calc(50% + 10px);
}

.circle:last-child:after {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    background-color: #fff;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
}

.works .btn,
.gallery .btn {
    margin: 70px auto 0;
    box-shadow: none;
    padding: 0 23px;
    justify-content: end;
    background-color: #18CFAB;
}

.works .btn::before,
.gallery .btn::before {
    content: '';
    position: relative;
    width: 16px;
    height: 4px;
    background-color: #fff;
    border-radius: 10%;
    right: 15px;
}

.works .btn::after,
.gallery .btn:after {
    content: '';
    position: relative;
    height: 16px;
    width: 4px;
    background-color: #fff;
    border-radius: 10%;
    right: 123px;
}

.breaking-news {
    padding: 82px 0 126px;
}

.news {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.new {
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.new:hover .new-data {
    background-color: #18CFAB;
}

.new:hover .new-name {
    color: #18CFAB;
}

.new-data {
    position: absolute;
    width: 70px;
    height: 68px;
    background: #203E38;
    color: #fff;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 6px;
}

.number, .month {
    color: #fff;
    font-weight: 400;
    text-transform: none;
    text-align: center;
}

.new-name {
    margin-left: 20px;
    margin-top: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
}

.new-other {
    position: relative;
    max-width: 210px;
    padding-left: 15px;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    display: flex;
    justify-content: space-between;
    color: #777777;
}
.new-other-author::after {
    content: '';
    position: absolute;
    height: 13px;
    width: 1px;
    background-color: #777777;
    right: 50%;
    bottom: calc(50% - 7px);
}

.new-other-comment {
    color: #777777;
}

.respond {
    padding: 100px 0 105px;
    background: url(../img/bg/section-3.jpg) center center/cover no-repeat;
}

.respond:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.respond .title {
    color: #fff;
}

.quotes {
    display: block;
    margin: 100px auto 35px;
}

.slider-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
    min-width: 0;
}

.slider-slide-descr {
    margin-top: 36px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    text-align: center;
}

.slider-slide-name {
    margin: 40px auto 20px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #18CFAB;
}

.slider-slide-profession {
    font-weight: 300;
    font-size: 13px;
    color: #BBBBBB;
}

.slider-slide-img {
    margin-top: 50px;
    width: 143px;
    height: 142px;
    border-radius: 50%;
    border: 12px solid rgba(31, 218, 181, 0.2);
}

.slider-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 0;
}

.slider-nav .slide-img {
    border-radius: 50%;
    width: 58px;
    height: 58px;
    margin-right: 35px;
    border: 5px solid rgba(31, 218, 181, 0.2);
}

.slide-img.slick-slide {
    width: 60px;
}

.slick-track{
    position: relative;
    min-height: 100px;
    display: flex;
    align-items: center;
}

.slider-btn {
    width: 31px;
    height: 31px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
}

.slider-btn:first-of-type {
    margin-right: 35px;
}

.slick-initialized .slick-slide {
    display: flex;
}

.slider-nav.slick-initialized.slick-slider {
    width: 400px;
    margin: 0 auto;
}

.slick-prev.slick-arrow,
.slick-next.slick-arrow {
    width: 31px;
    height: 31px;
    border: 1px solid #BBBBBB;
    margin: 0 -30px;
}


.slide-img.slick-slide.slick-current.slick-active {
    position: relative;
    bottom: 10px;
}

.slick-prev.slick-arrow:hover,
.slick-next.slick-arrow:hover {
    background-color: #18CFAB;
}

.slick-prev.slick-arrow::before,
.slick-next.slick-arrow::before  {
    content: '';
    vertical-align: middle;
    display: inline-block;
    width: 7px;
    height: 7px;
    border: 1px solid #BBBBBB;
    rotate: 45deg;
}

.slick-next.slick-arrow::before {
    border-left: none;
    border-bottom: none;
}

.slick-prev.slick-arrow::before {
    border-right: none;
    border-top: none;
    margin: 0 12px;
}

.slick-prev.slick-arrow:hover:before,
.slick-next.slick-arrow:hover:before {
    border-color: #fff;
}

.slick-list.draggable {
    padding: 0 30px;
    overflow: hidden;
}

.display-none {
    display: none;
}

footer {
    background-color: #22353F;
    padding: 50px 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
    text-align: center;
}

.ham {
    font-weight: 300;
    text-transform: none;
    color: #18CFAB;
}

