.revolutionary {
    padding: 130px 0 70px;
    &__title {
        font-weight: 700;
        font-size: 54px;
        text-transform: uppercase;
        color: #635C73;
        text-align: center;
        margin-bottom: 35px;
    }
    &__descr {
        @include fontStyle(21px, 400, 32px, #323232, center, none,'Lato');
        margin-bottom: 20px;
    }
    &__btns {
        @include displayFlex(space-between);
        max-width: 365px;
        margin: 0 auto;
    }
    &__btn {
        @include displayFlex();
        border: 1px solid #D5D5D5;
        color: #323232;
        font-weight: 700;
        font-size: 12px;
        border-radius: 3px;
    }
    &__name {
        background: linear-gradient(#FCFCFC, #EEEEEF);
        border-right: 1px solid #D5D5D5;
        padding: 6px;
        @include displayFlex(space-between);
        cursor: pointer;
        svg {
            margin-right: 5px;
        }
    }
    &__number {
        padding: 6px;
    }
}