@import "reset";
@import "variables";
@import "mixins";
@import "extends";
@import "header";
@import "hero-block";
@import "revolutionary";
@import "here";
@import "testimonials";
@import "fork";
@import "media";

body {
  margin: 0;
	padding: 0;
  width: 100vw;
  @include fontStyle(16px, 400, 1, $main-text-color, left, none,'Montserrat');
  font-family: "Montserrat", sans-serif;
  min-height: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
}

